.startquiz {
  background-color: purple;
  height: 60vh;
  width: 100vw;
  &__score-container {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 2rem;
  }
  &__quiz-container {
  }
  &__quiz-item {
    color: yellow;
    margin: 25px;
    font-size: 1.8rem;
  }
  &__quiz-element {
    font-size: 1.5rem;
    color: pink;
  }
  &__quiz-answer-box {
    width: 300px;
    margin: 0 auto;
  }
  &__quiz_answer-button {
    width: 120px;
    height: 40px;
    margin: 15px;
    background-color: yellow;
    color: purple;
    padding: 10px;
    font-weight: 700;
    border-radius: 15px;
  }
  &__quiz_answer-button:hover {
    background-color: purple;
    color: yellow;
  }
}
