.startquiz {
  background-color: #e0efde;
  height: 100vh;
  width: 100vw;
  &__score-container {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 2rem;
  }

  &__quiz-item {
    color: #4a416d;
    margin: 25px;
    font-size: 1.2rem;
  }
  &__quiz-element {
    font-size: 1.6rem;
    color: #4a416d;
  }
  &__quiz-answer-box {
    width: 300px;
    margin: 0 auto;
  }
  &__quiz_answer-button {
    width: 120px;
    height: 40px;
    margin: 15px;
    background-color: yellow;
    color: purple;
    padding: 10px;
    font-weight: 700;
    border-radius: 15px;
  }
  &__quiz_answer-button:hover {
    background-color: purple;
    color: yellow;
  }
}

.btn-primary {
  width: 300px;
  margin: 10px 0px;
  padding: 11px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 100px 100px 100px 100px;
  cursor: pointer;
  -webkit-transition: all, 240ms ease-in-out;
  transition: all, 240ms ease-in-out;
  background: rgb(241, 196, 15);
  background: linear-gradient(
    58deg,
    rgba(241, 196, 15, 1) 20%,
    rgba(243, 172, 18, 1) 100%
  );
}

.btn-secondary {
  width: 300px;
  margin: 10px 0px;
  padding: 11px;
  color: #4e3f00;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 100px 100px 100px 100px;
  cursor: pointer;
  -webkit-transition: all, 240ms ease-in-out;
  transition: all, 240ms ease-in-out;
  background: rgb(218 214 214 / 30%);
}
